# SPDX-FileCopyrightText: 2023 The libsensible Authors
#
# SPDX-License-Identifier: CC0-1.0

.direnv
.cache

# What I call my build directories
build
debug
release
release-debug

compile_commands.json
.helix
.vs
CMakeSettings.json

# sensible-test outputs
*.xml
